{% extends "base.html" %}
{% load static %}
<!-- Favicons Icon -->

<title>Superb premium HTML5 &amp; CSS3 template</title>

<!-- CSS Style -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

{% block content %}
<body class=" customer-account-forgotpassword inner-page">
<div id="page"> 
   <!-- Main Container -->
  <section class="main-container col1-layout bounceInUp animated">
    <div class="main container">
      <div class="col-main">
        <div class="account-login">
          <div class="page-title">
            <h1>Forgot Your Password?</h1>
          </div>
          <!--page-title-->
          <form action="#" method="post" id="form-validate">
            <fieldset class="col2-set">
              <strong>Retrieve your password here</strong>
              <div class="content">
                <p>Please enter your email address below. You will receive a link to reset your password.</p>
                <ul class="form-list">
                  <li>
                    {{ form.email.label  }}
                    {% comment %} <label for="email_address">Email Address<em class="required">*</em></label> {% endcomment %}
                    <div class="input-box">
                      {{ form.email }}
                      {% comment %} <input type="text" name="" alt="email" id="email_address" class="input-text required-entry validate-email" value=""> {% endcomment %}
                    </div>
                  </li>
                </ul>
              </div>
              <!--content-->
              
              <p class="required">* Required Fields</p>
              <button type="submit" title="Submit" class="button submit"><span>Submit</span></button>
              <a href="#"><small>« </small>Back to Login</a>
            </fieldset>
            <!--col2-set-->
          </form>
        </div>
      </div>
      <!--col-main--> 
    </div>
  </section>
  <!-- Main Container End --> 
  
  <!-- Brand logo starts  -->
  <div class="brand-logo wow bounceInUp animated">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6"> 
            
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo3.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo2.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo5.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo6.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Brand logo ends  --> 
  

</div>

{% endblock content %}
<!-- JavaScript -->
{% block js%}  
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock %}
</body>
</html>