{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Superb, premium HTML5 &amp; CSS3 template</title>
{% endblock %}
<!-- Favicons Icon -->

<!-- CSS Style -->
{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
		</p>
	
		<p>
			If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>


<!-- Brand logo starts  -->
<div class="brand-logo wow bounceInUp animated">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6"> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo3.png' %}" alt="Image"></a> </div>
            <!-- End Item -->
    
            <!-- ' %}Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo2.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
           
            <!-- ' %}Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
           
            <!-- ' %}Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- ' %}Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo5.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
           
            <!-- ' %}Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo6.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- ' %}Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
           
            <!-- ' %}Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Brand logo ends  --> 
  {% endblock content %}
{% block footer %} {% endblock %}
<!-- JavaScript --> 
{% block js %} 
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock %}

</body>
</html>